{#
<div class="login">
    <h1>Predict depressive text here</h1>
    <h3> Enter the tweet in the given text field</h3>
    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="Tweet" placeholder="Tweet" required="required"/>
        <button type="submit" class="btn">Predict</button>
    </form>
    <br> <br> {{ prediction_text }}
</div>
#}

{#
<html>
   <body>
      <form action = "/plot" method = "POST">
         Username <input type = "text" name = "username" />
          Start Date: <input type = "text" name = "startdate" />
           End Date: <input type = "text" name = "enddate" />
          <button type="submit">Submit</button>
      </form>
   </body>
</html>
#}


<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Depression Detector</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background: #88fcc1;">
 <div class="login">
	<h1>Depression Detector</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('plot_png')}}"method="post">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" required="required" />
        <label for="count">Input the no. of tweets you wish to analyze</label>
        <input type="number" name="count" required="required" min="1" max="3200" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>