{#
<div class="login">
    <h1>Predict depressive text here</h1>
    <h3> Enter the tweet in the given text field</h3>
    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="Tweet" placeholder="Tweet" required="required"/>
        <button type="submit" class="btn">Predict</button>
    </form>
    <br> <br> {{ prediction_text }}
</div>
#}

{#
<html>
   <body>
      <form action = "/plot" method = "POST">
         Username <input type = "text" name = "username" />
          Start Date: <input type = "text" name = "startdate" />
           End Date: <input type = "text" name = "enddate" />
          <button type="submit">Submit</button>
      </form>
   </body>
</html>
#}


<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Depression Detector</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" type="image/jpg" href="static/images/favicon.png"/>
</head>

<body style="background: #000000;">
 <div class="login">
      <a href="/">
     <img src="static/images/twitter-png-5964.png" alt="Twitter" width="175" height="105">
      </a>
	<h1>Depression Detector</h1>

     <!-- Main Input For Receiving Query to our ML -->
     <a href="/show_history" style="" class="btn btn-primary btn-block btn-large" >Show history</a>
     <br> </br>
     <a href="/classify_tweet" class="btn btn-primary btn-block btn-large">Classify a tweet</a>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>